@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.results {
    position: relative;
    margin-left: 200px;
    border-radius: 25px;
    /*Change background based on bin*/
    background: blanchedalmond;
    width: 1500px;
    height:700px;
    z-index: -1;
}
h1 {
    z-index: 10;
    margin-top: 100px;
    margin-left: -100px;
    font-family: 'Gloock', serif;
    font-size: 50px;
    letter-spacing: 10px;
}